.cabecalho{
    background-color: var(--verde-cinza);
}

.titulo__cabecalho{
    font-size: 32px;
    color: var(--branco);
    padding: 1em 0;
    text-align: center;
    text-transform: uppercase;
    width: 92%;
    margin: auto;
}

.titulo__cabecalho-menu{
    font-size: 40px;
    color: var(--verde-cinza);
    font-weight: bold;
    margin: 16px;
}