

.rodape{
    background-color: var(--verde-cinza);
    padding: 0.5em 0;
    /* position: absolute;
    bottom: 0;              ---- deu errado. Não consegui fazer funcionar
    width: 100%; */
}

.email__rodape{
    display: flex;
    margin: 0 0 0 1em;
}


.texto__rodape{
    font-size: 12px;
    text-align: justify;
    color: var(--branco);
    margin: 1em ;
}