
main{
    width: 91%;
    margin: auto;
}

.container-meu__perfil{
    display: grid;
    grid-template-columns: 22% 2% 33% auto;
    grid-template-rows: 36% 21% 16% 16% auto;
    margin: 1em 0;
}

.foto__perfil{
    width: 100%;
    border-radius: 1000px;
    grid-column: 1;
    grid-row: 1/5;
}

.nome__perfil{
    grid-column: 3;
    grid-row:3;
}

.user__perfil{
    color: var(--cinza);
    grid-column: 3;
    grid-row: 4;
}

.botao__seguir{
    text-decoration: none;
    border: 1px solid var(--preto);
    border-radius: 8px;
    padding: 0.3em 3em;
    color: var(--branco);
    background-color: var(--verde-cinza);
    grid-column: 4;
    grid-row: 2/4;
    text-align: center;
    font-size: 4.5vw;
}

.paragrafo__inicial{
    margin: 2em 0;
    text-align:justify;
}

.botao__cheio{
    text-decoration: none;
    /* border: 1px solid var(--preto);
    border-radius: 8px; */
    text-align: center;
    background-color: var(--verde-cinza);
    color: var(--branco);
    padding: 2vw 12vw;
    font-size: 24px;

    
} 



.redes__sociais-item{
    width: 80%;
    margin: 2.5em auto;
    text-align: center;
    border:1px solid var(--preto);
    border-radius: 8px;
    background-color: var(--verde-cinza);
    padding: 1em;



}

.botao__cheio:hover{
    color: var(--cinza-claro);
    transition: 0.5s;
}



@media (min-width: 500px) {
    .container-meu__perfil{
        display: flex;
        /* grid-template-columns: none;
        grid-template-rows: none; */
        text-align: center;
        margin: 3.5em 0;
        flex-direction: column;
        
    }

    .nome__perfil{
        font-size: 40px;
        order: 3;
    }

    .user__perfil{
        font-size: 24px;
        order: 2;
    }

    .botao__seguir{
        display: none;
    }
    .foto__perfil{
        width: 127px;
        margin: 1em auto 0.5em auto;;
        /* text-align: center; */
    }
    .paragrafo__inicial{
        display: none;
    }

    .botao__cheio{
        padding: 1vw 10vw;
    }

    .redes__sociais-item{
        padding: 2em;
        width: 60%;
        margin: 3em auto;
    }
}

@media (min-width: 900px){

    .botao__cheio{
        padding: 0 10vw;
    }

    .redes__sociais-item{
        margin: 2em auto;
        padding: 1em;
        width: 40%;
    }

    .container-meu__perfil{
        margin: 1em 0;
    }
}

/* Especificos do Menu a diante */

.texto__menu{
    color: var(--verde-cinza);
    font-size: 12px;
    margin: 0 1em 2em 0;
    line-height: 19px;
}

.menu__lista{

}

.menu__item{
    text-align: center;
    border: 2px solid var(--preto);
    border-radius: 8px;
    padding: 15px;
    margin: 1em 0;
    background-color: var(--verde-cinza);
    opacity: 0.5;
}

.menu__link{
    color: var(--branco);
    text-decoration: none;
    padding: 0 5em;
}

.menu__link:hover{
    color: var(--cinza-claro);
    transition: 0.5s;
}

.comentarios{
    background-color: var(--cinza-claro);
    padding: 0.8em;
    margin: 1.5em 0;

}