@import url(../style/cabecalho.css);
@import url(./main.css);
@import url(./footer.css);
:root{
    --fonte-principal: "Kalam";
    --verde-cinza:      #6B756A;
    --branco:           #ffffff;
    --preto:            #000000;
    --cinza:            #969696;
    --verde-claro:      #91A090;
    --cinza-claro:      #D5D5D5;
}

body{
    font-family: "Kalam";

}

.corpo__linktree{
    background-image: url(../img/fundo_colorido.jpg);
    background-size:cover;
}

.corpo__menu{
    background-image: url(../img/fundo\ estrela.png);
    background-size:cover;
}

